<!Doctype html><html xmlns=http://www.w3.org/1999/xhtml>
	<head>
		<title>Hosts-Status-Monitor</title>
		<meta name="description" content="A software that allows you to monitor status of some clients. Data transmission ----" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="tool/bs/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="tool/bs/css/bootstrap-theme.css">
	    <link rel="stylesheet" type="text/css" href="tool/mytheme.css">
		<script src="tool/ajax3.0.js"></script>
				<script>
				function ajaxget(){
					Ajax().get("ajaxget",function(data){
						data=eval('('+data+')');
						for(var i in data){
							cpu=document.getElementById(i+"cpu");
							cpu.innerHTML=data[i].cpu+'%';
							cpu.style='width: '+data[i].cpu+'%;';

							ior=document.getElementById(i+"iow");
							ior.innerHTML=data[i].iow+'byte';
							ior.style='width: '+data[i].iow/50000000+'%;';

							iow=document.getElementById(i+"ior");
							iow.innerHTML=data[i].ior+'byte';
							iow.style='width: '+data[i].ior/50000000+'%;';

							mem=document.getElementById(i+"mem");
							mem.innerHTML=data[i].mem+'%';
							mem.style='width: '+data[i].mem+'%;';
						}

					});
					setTimeout("ajaxget()", 3000 );
				}
				window.onload=setTimeout("ajaxget()", 10 );
				</script>
	</head>
	<body>
		<div style='margin:40px'>