<!Doctype html><html xmlns=http://www.w3.org/1999/xhtml>
	<head>
		<title>Hosts-Status-Monitor</title>
		<meta name="description" content="A software that allows you to monitor status of some clients. Data transmission ----" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="tool/bs/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="tool/bs/css/bootstrap-theme.css">
	    <link rel="stylesheet" type="text/css" href="tool/mytheme.css">
		<!--<script src="/../tool/ajax3.0.js"></script>
				<script>
					Ajax().get("<{$app}>/message/getnum",function(data){
										document.getElementById("msg").innerHTML=data;
									});
					Ajax().get("<{$app}>/message/getindentnum",function(data){
								document.getElementById("indentmsg").innerHTML=data;
							});
				</script>-->
	</head>
	<body>
		<div style='margin:40px'>