<!Doctype html><html xmlns=http://www.w3.org/1999/xhtml>
	<head>
		<title>Hosts-Status-Monitor</title>
		<meta name="description" content="A software that allows you to monitor status of some clients. Data transmission ----" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <link rel="stylesheet" type="text/css" href="../tool/bs/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../tool/bs/css/bootstrap-theme.css">
	    <link rel="stylesheet" type="text/css" href="../tool/mytheme.css">
		<script src="../tool/ajax3.0.js"></script>
		<script src="../tool/paper/paper-core.min.js"></script>
		<script src="../tool/paper/paper-full.min.js"></script>
				<!--<script>
				function ajaxgetinfo(){

					setTimeout("ajaxgetinfo()", 3000 );
				}
				window.onload=setTimeout("ajaxgetinfo()", 2000 );
				</script>-->
	</head>
	<body>
		<button onclick="ajaxgetinfo()">Refresh</button>
		<a href="/" class="btn btn-primary btn-lg">back to main page!</a>
		<div style='margin:40px'>
		