<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">LOCALHOST</h3>
  </div>
  <div class="panel-body">
	    CPU:<div class="progress">
			  <div id='localhostcpu' class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
			    2%
			  </div>
			</div>
		IO负载:<br>
		读
		<div class="progress">
			  <div id='localhostior' class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
			    2byte
			  </div>
			</div>
		写
		<div class="progress">
			<div id='localhostiow' class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
			    2byte
			</div>
		</div>

		内存:<div class="progress">
			  <div id='localhostmem' class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
			    2%
			  </div>
			</div>

  </div>
</div>